<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DoodleJump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B78C1DAD1E562F67004C423D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B78C1DC61E562F68004C423D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B78C1DD11E562F68004C423D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
